<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расписание</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Учебная Система</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="schedule">Расписание<span class="sr-only">(текущая)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="electronic-library">Электронная Библиотека</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="profile">Личный Кабинет </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="grades">Успеваемость</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="attendance">Посещаемость</a>
                </li>
                <li th:if="${!authenticated}" class="nav-item ">
                    <a class="nav-link" href="/login">Вход</a>
                </li>
                <li th:if="${authenticated}" class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="nav-link btn btn-link">Выход</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Добавить Запись Расписания</h1>
        <form th:action="${scheduleDTO.scheduleID != null ? '/schedule/edit' : '/schedule/add'}"
              th:object="${scheduleDTO}" method="post">
            <input type="hidden" th:field="*{scheduleID}"/>
            <div class="form-group">
                <label for="dateOrDay">Дата</label>
                <input type="date" class="form-control" id="dateOrDay" name="dateOrDay" required>
            </div>
            <div class="form-group">
                <label for="time">Время</label>
                <input type="text" class="form-control" id="time" name="time" required>
            </div>
            <div class="form-group">
                <label for="courseName">Название Курса</label>
                <input type="text" class="form-control" id="courseName" name="course.name" required>
            </div>
            <div class="form-group">
                <label for="teacher">Имя Преподавателя</label>
                <select class="form-control" id="teacher" name="course.teacherId">
                    <option th:each="teacher : ${teachers}"
                            th:value="${teacher.userID}"
                            th:text="${teacher.personalInfo.lastName}">Имя учителя
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="classRoom">Аудитория</label>
                <input type="text" class="form-control" id="classRoom" name="classRoom" required>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">&copy; 2023 JJ</span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
